# $ docker run -d --hostname my-rabbit --name some-rabbit rabbitmq:3

services:
  broker:
    container_name: rbmq
    hostname: rbmq
    image: rabbitmq:3
    ports:
      - "5672:5672"
    stdin_open: true
    tty: true
  hub:
    container_name: global-pinger-hub
    pull_policy: always
    image: ghcr.io/hsiaofongw/global-pinger:latest
    ports:
      - "8080:8080"
    command:
      - "/usr/local/bin/global-pinger-hub"
      - "-addr=0.0.0.0:8080"
      - "-rabbitmq-broker-url=amqp://152.53.46.158:5672"


    