services:
  hub:
    container_name: globalping-hub
    pull_policy: always
    image: ghcr.io/internetworklab/globalping:latest
    ports:
      - "8080:8080"
      - "8082:8082"
    extra_hosts:
      - "agent1.example.com=152.53.46.158"
    volumes:
      - "./certs:/app/globalping/certs:ro"
    command:
      - "/usr/local/bin/globalping"
      - "hub"
      - "--peer-c-as=/app/globalping/certs/ca.pem"
      - "--client-cert=/app/globalping/certs/peer.pem"
      - "--client-cert-key=/app/globalping/certs/peer-key.pem"
      - "--server-cert=/app/globalping/certs/peer.pem"
      - "--server-cert-key=/app/globalping/certs/peer-key.pem"
      - "--web-socket-path=/ws"
      - "--address=:8080"
      - "--address-public=:8082"
