networks:
  globalping:
    name: globalping
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: "${SUBNET_OVERRIDE}"
services:
  agent:
    container_name: globalping-agent
    pull_policy: always
    image: ghcr.io/internetworklab/globalping:latest
    sysctls:
      net.ipv4.conf.default.rp_filter: 0
      net.ipv4.conf.default.forwarding: 1
      net.ipv6.conf.default.forwarding: 1
    working_dir: /app/globalping
    ports:
      - "0.0.0.0:8081:8081"
    extra_hosts:
      - "hub.example.com=152.53.46.158"
    networks:
      - globalping
    volumes:
      - "./certs:/app/globalping/certs:ro"
      - "./.env.inside:/app/globalping/.env:ro" # .env.inside has some sensitive data, such as apikeys for invoking third-party services.
    command:
      - "/usr/local/bin/globalping"
      - "agent"
      - "--server-address=${HUB_SERVER_ADDRESS}"
      - "--node-name=${NODE_NAME}"
      - "--http-endpoint=${HTTP_ENDPOINT}"
      - "--peer-c-as=/app/globalping/certs/ca.pem"
      - "--server-name=${HUB_SERVER_NAME}"
      - "--client-cert=/app/globalping/certs/peer.pem"
      - "--client-cert-key=/app/globalping/certs/peer-key.pem"
      - "--server-cert=/app/globalping/certs/peer.pem"
      - "--server-cert-key=/app/globalping/certs/peer-key.pem"
      - "--tls-listen-address=:8081"
      - "--shared-quota=10"
    mem_limit: 256m
